<article>
  <header>
    <h1><%= @movie.title %></h1>
    <%= image_for(@movie) %>
  </header>
  <p>
    <%= @movie.description %>
  </p>
  <h3>Release Date</h3>
  <p>
    <%= @movie.released_on %>
  </p>
  <h3>Rating</h3>
  <p>
    <%= @movie.rating %>
  </p>
  <h3>Total Gross</h3>
  <p>
    <%= number_to_currency(@movie.total_gross) %>
  </p>
</article>

<%= link_to 'All Movies', root_path %>
<%= link_to 'Edit', edit_movie_path(@movie) %>
<%= link_to 'Delete', movie_path(@movie), method: :delete, data: { confirm: 'Are you sure?' } %>