<header id="content-header">
  <h1>
    Reviews for <%= link_to(@movie.title, @movie) %>
  </h1>
</header>
  
  <ol id='reviews'>
    <% @reviews.each do |review| %>
      <li>
        <p>
          <strong>
            <%= pluralize(review.stars, 'Star') %>
          </strong>
           By <%= review.name %>:
        </p>
        <p>
          <%= review.comment %>
        </p>
        <p>
          <strong>Added: </strong>
          <%= time_ago_in_words(review.created_at) %> ago
        </p>
      </li>
      <hr>
    <% end %>
  </ol>

  <%= link_to 'Write A Review!', new_movie_review_path(@movie), class: 'button ok' %>

  <%= link_to 'Back', movies_path, class: 'button' %>
